
<nav   mat-tab-nav-bar color="primary"  mat-align-tabs="center" backgroundColor="primary" >
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
  {{ link.label }}
</a>
  </nav>
  
  <br>
 
  <router-outlet></router-outlet>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>JS-jargon</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" (click)="addToHomeScreen()">Add to home screen</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <ngx-ui-loader  text="T20 Cricket " ></ngx-ui-loader>
