<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
        <li class="breadcrumb-item active " aria-current="page">India Won this T20 Tournament Cricket League</li>
    </ol>
</nav>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Team</th>
                <th>Matches</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Points</th>
                <th>NRR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tournament of tournamentTable">
                <td>{{tournament.position}}</td>
                <td>{{tournament.team_name}}</td>
                <td>{{tournament.total_matches}}</td>
                <td>{{tournament.win}}</td>
                <td>{{tournament.lose}}</td>
                <td>{{tournament.pts}}</td>
                <td>{{tournament.nrr}}</td>
            </tr>
        </tbody>
    </table>
</div>